@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d0620;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2A2440;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
background-color: #0F172A;
overflow-x: hidden;
}


.glassmorphism{
  background: linear-gradient(90.83deg, rgba(254, 254, 254, 0.6) 68.09%, rgba(242, 238, 255, 0.2) 169.03%);
  /* border: 1px solid #FFFFFF; */
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}

.ellipse-1 {
position: absolute;
  width: 537px;
height: 510px;
left: 0px;
top: 14px;
  background: #183351;
  filter: blur(100px);
  z-index: -6;
}

/* Ellipse 2 */

.ellipse-2 {
  position: absolute;
width: 1076.5px;
height: 348.5px;
left: 369px;
top: 672px;
  background: #193151;
  filter: blur(100px);
z-index: -1;
}

/* Ellipse 3 */

.ellipse-3 {
  position: absolute;
width: 743.65px;
height: 664.04px;
left: 634px;
top: -6.1px;

  background: #13243C;
  filter: blur(100px);
  z-index: -2;
}

/* Ellipse 4 */

.ellipse-4 {
  position: absolute;
width: 845.5px;
height: 421.9px;
left: 9.5px;
top: 598.6px;
  background: #142741;
  filter: blur(100px);
  z-index: -3;
}

.swal2-popup {
  background-color: #0F172A !important;
  color: #fff!important;
}

.title {
  font-size: 24px;
  color: #fff;
  font-weight: bold
}

.glow {
  text-shadow: 0 0px 30px rgb(250 204 21/ 2);
}

#my-canvas {
  position: absolute;
  width: 90%;
  z-index: 99999;
  height: 100%;
  opacity: 0;
}

#my-canvas.show-canvas {
  opacity: 1;
}

.logoImage{
  width: 100px;
}

.dark_mode {
  background-color: #0F172A;
  color: #f3f3f3;
}

.dark_mode_secondary {
  background-color: #1E293B;
}
.recharts-wrapper{
 
  width: 100%;
  
}

.ant-btn-primary{
  background-color: #1677ff!important;
}

.ant-table-column-sort{
  background: #183351!important;
  color: #fff!important
}

.no-hover:hover {
  background-color: transparent !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;